<div class="intro-container">
  <div class="intro-content">
    <h1>Un projet créé pour la Nuit de l’Info</h1>
    <p>
      Ce site a été conçu dans le cadre de la Nuit de l’Info 2024, un défi national où étudiants,
      enseignants et professionnels collaborent durant une nuit pour imaginer des solutions
      innovantes. Notre équipe, Ordenagailuzaleak, a développé cette plateforme afin de proposer une
      exploration immersive du campus et de vous présenter divers contenus autour du numérique
      responsable, du reconditionnement, du libre, du sport et bien d’autres thématiques.
    </p>
    <div class="btn-group">
      <button class="btn-back" routerLink="/">Retour</button>
      <button class="btn-next" routerLink="/home">Découvrir</button>
    </div>
  </div>
</div>
