<div class="intro-container">
  <div class="intro-content">
    <h1>Bienvenue à la présentation du projet NIRD</h1>
    <p>
      Bienvenue sur notre plateforme interactive créée pour explorer, apprendre et sensibiliser aux
      enjeux numériques et écologiques d’aujourd’hui. À travers différents thèmes, découvrez une
      expérience simple et ludique qui vous guidera à travers des ressources accessibles et utiles.
    </p>
    <button class="btn-next" routerLink="/intro2">Suivant</button>
  </div>
</div>
