
} */


.pageContainer {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.pageContainer.game-active {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
