<div class="app-container">
  <!-- Menu à gauche -->
  <nav class="sidebar">
    <h3>Ordenagailuzaleak</h3>
    <ul>
      <li><a routerLink="/anti-gafam" class="menu">Anti-GAFAM</a></li>
      <li><a routerLink="/chatbot" class="menu">Chatbot</a></li>
      <li><a routerLink="/demarche" class="menu">Demarche</a></li>
      <li><a routerLink="/reconditionnement" class="menu">Reconditionnement</a></li>
      <li><a routerLink="/linux" class="menu">Linux</a></li>
      <li><a routerLink="/reseau-etablissement" class="menu">Réseau Établissement</a></li>
      <li><a routerLink="/sport" class="menu">Sport</a></li>
    </ul>

    <div class="carte-talents-container">
      <a routerLink="/carte-talents" class="carte-talents-btn">
        <span></span> Notre équipe
      </a>
    </div>
  </nav>

  <!-- Image à droite -->
  <main class="main-content">
    <div class="image-protection">
      <img 
        src="NDI_mainPage._2025_18_44_33.png" 
        alt="Campus"
        draggable="false"
        oncontextmenu="return false;"
        ondragstart="return false;">
    </div>
  </main>
</div>
